<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
          <td>Id</td>
          <td>Name</td>
          <td>Email</td>
          <td>Mobile No</td>
          <td>City</td>
        </tr>
        
        <tr>
            <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email_Id}}</td>
          <td>{{user.phone_no}}</td>
          <td>{{user.city}}</td>
        </tr>
        
      </table>
</body>
</html>